.section__background{
    position: absolute;
    width: 100%;
    height: 18vw;
    top: 30vw;
    background: green;
}
.arbol {
    position: absolute;
    width: 20vw;
    top: 15vw;
    left: 10vw;
}
.casa {
    position: absolute;
    width: 20vw;
    top: 15vw;
    left: 70vw;
}
.section__content {
    display: flex;
    height: 49vw;
}
.sol {
    animation-name: sun;
    animation-duration: 4s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-direction: normal;
    position: absolute;
    width: 20vw;
    left: 70vw;
}
.nube {
    animation-name: nube;
    animation-duration: 30s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-direction: normal;
    position: absolute;
    width: 25vw;
    left: 75vw;
}
.flor {
    animation-name: flor;
    animation-duration: 20s;
    animation-delay: 7s;
    animation-timing-function: ease-in-out;
    position: absolute;
    width: 10vw;
    opacity: 0;
    top: 25vw;
    left: 45vw;
}
.lluvia {
    animation-name: lluvia;
    animation-duration: 15s;
    animation-delay: 5s;
    animation-timing-function: ease-in-out;
    position: absolute;
    top: 10vw;
    opacity: 0;
    left: 40vw;
    width: 20vw;
    height: 40vw;
}
@keyframes sun{
    0%{
        opacity: 100%;
    }
    50%{
        opacity: 20%;
    }
    100%{
        opacity: 100%;
    }
}
@keyframes flor{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
}
@keyframes nube{
    0%{
        left: 80vw;
    }
    50%{
        left: 40vw;
    }
    100%{
        left: 0;
    }
}
@keyframes lluvia{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
}
